{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
{% url 'auth_password_reset' as auth_pwd_reset_url %}
{% url 'registration_register' as register_url%}


  <div class="row">
    <div class="col-sm-6">

      {% load bootstrap %}
      <form method="post" action="{% url 'auth_login' %}">{% csrf_token %}
        {{ form|bootstrap }}
        <input class="btn btn-primary" type="submit" value="Log In" />
        <input type="hidden" name="next" value="/" />
      </form>
    </div>
    <div class="col-sm-6">
      <p>{% blocktrans %}Don't forget:{% endblocktrans %}</p>
      <ul>
        <li>{% blocktrans %}Usernames and passwords are case-sensitive.{% endblocktrans %}</li>
      </ul>
      <p>{% blocktrans %}Need an account?{% endblocktrans %}</p>
      <p>
        <a class="btn btn-default" href="{{ register_url }}">
          {% blocktrans %}Create an Account{% endblocktrans %}
        </a>
      </p>

    </div>
  </div>

{% endblock %}
