{% load i18n %}
<html>
<head>
  <title>
    {% block title %}Open Debates{% endblock %}
  </title>
  {% load pipeline %}
  {% stylesheet 'base' %}
  {% block loading_stylesheets %}
  {% endblock %}
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,600,400|Open+Sans+Condensed:700"
        rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
  <div class="row white">
    <div class="login-container pull-right">
      {% if request.user.is_authenticated %}
      <a href="{# url 'user_profile' #}">
        {% blocktrans with username=request.user.username %}Welcome, {{ username }}!{% endblocktrans %}
      </a>
      <span>||</span>
      <a href="{% url 'auth_logout' %}">{% blocktrans %}Log out{% endblocktrans %}</a>
      {% else %}
      <a href="{% url 'auth_login' %}">{% blocktrans %}Log in{% endblocktrans %}</a> <span> / </span>
      <a href="{% url 'registration_register' %}">{% blocktrans %}Register{% endblocktrans %}</a>
      {% endif %}
    </div>
  </div>
  <div class="row white">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
            class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">
          <li>
            <a href="#">{% blocktrans %}Home{% endblocktrans %}</a>
          </li>
          <li>
            <a href="{% url 'candidates' %}">{% blocktrans %}Candidates{% endblocktrans %}</a>
          </li>
          <li>
            <a href="#">{% blocktrans %}The District{% endblocktrans %}</a>
          </li>
          <li>
            <a href="#">{% blocktrans %}About{% endblocktrans %}</a>
          </li>
          <li>
            <a href="{% url 'list_ideas' %}">{% blocktrans %}Participate{% endblocktrans %}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row white">
    <div class="col-md-12">
      <div id="logo">
        <a href="{% url 'list_ideas' %}">
          <img
              src="http://progressivechange.institute/media/images/Screen_Shot_2015-03-16_at_7.52.05_.focus-none.width-1000_lSJC5o7.png"
              alt="Open Debates Logo"
              class="img-responsive center-block">
        </a>
      </div>
    </div>
  </div>

  <div class="row white">
    <div class="col-md-12 messages">
      {% include "opendebates/snippets/messages.html" %}
    </div>
  </div>
  <div class="row white">
    <div class="col-md-12">
      {% block pre_content %}{% endblock %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  {% include "opendebates/snippets/vote_modal.html" %}

</div>
<script type="text/javascript">
  var ODebates = ODebates || {};
  ODebates.configs = ODebates.configs || {};
  ODebates.paths = ODebates.paths || {};

  ODebates.paths.static = "{{ STATIC_URL }}";

  {% if DEBUG %}
    ODebates.configs.debug = true;
  {% else %}
    ODebates.configs.debug = false;
  {% endif %}

  {% if VOTER %}
  ODebates.voter = {"email": "{{ VOTER.email }}",
                    "zip": "{{ VOTER.zip }}",
                    "first_name": "{{ request.user.first_name|default:'' }}",
                    "last_name": "{{ request.user.last_name|default:'' }}",
                    "has_account": {% if request.user.is_authenticated %}true{% else %}false{% endif %}
  };
  {% endif %}

  {% if stashed_submission %}
  ODebates.stashedSubmission = {
    "category": {{ stashed_submission.category }},
    "question": "{{ stashed_submission.question }}",
    "citation": {% if stashed_submission.citation %}"{{ stashed_submission.citation }}"{% else %}null{% endif %}
  };
  {% endif %}
</script>
<script id="my-votes-cast" type="application/json">
  {{ VOTES_CAST }}
</script>


{% load static %}
<script type="text/javascript" src='{% static 'jquery/dist/jquery.min.js' %}'></script>
<script type="text/javascript" src='{% static 'handlebars/handlebars.min.js' %}'></script>
<script type="text/javascript" src='{% static 'bootstrap/dist/js/bootstrap.min.js' %}'></script>
<script type="text/javascript" src='{% static 'moment/min/moment-with-locales.min.js' %}'></script>
{% javascript 'base' %}
{% block loading_javascript %}
{% endblock %}

<script type="text/javascript">
  $(window).load(function() {
    $('[data-toggle="tooltip"]').tooltip();
    $('[data-toggle="popover"]').popover();
  });
</script>

</body>
</html>




