{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <div class="col-md-8">
      {% block primary_content %}
      {% endblock %}
    </div>
    <div class="col-md-4">
      {% include "opendebates/snippets/add_question.html" %}

      <div class="recent-activity-container">
        <div class="row">
          <div class="col-sm-11 col-sm-offset-1">
            <h5>{% blocktrans %}Recent Activity{% endblocktrans %}</h5>
            <div id="recent-activity">
              {% include "opendebates/snippets/recent_activity.html" %}
            </div>
          </div>
        </div>
      </div>
      
    </div>
{% endblock %}
