{% extends "base.html" %}

{% block title %}
  Open Debate: Home
{% endblock %}

{% block content %}
  <div class="login-container">
    <p>
      Welcome! Here's a little variable: {{ variable }}
    </p>

    <p>
      Click me: <span class="glyphicon glyphicon-trash"></span>
    </p>

    <p>
      <a href="{% url 'login' %}">
        <button class="btn btn-primary">Login</button>
      </a>
    </p>
  </div>
{% endblock %}

{% block loading_javascript %}
  {% load static %}

  <script type="text/javascript">
    (function () {
      var ODebates = window.ODebates || {};
      ODebates.helpers = ODebates.helpers || {};
      ODebates.home = ODebates.home || {};
      ODebates.home.paths = ODebates.home.paths || {};

    })();
  </script>

  {% load pipeline %}
  {% javascript 'home' %}

  <script type="text/javascript">
    (function () {
      var ODebates = window.ODebates;
      ODebates.home.init();
    })();
  </script>

{% endblock %}
