{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {% blocktrans %}Open Debates{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <form action="{% url 'questions' %}" method="POST" class="form-inline">
        {% csrf_token %}
        <fieldset>
          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="category">{% blocktrans %}Category{% endblocktrans %}</label>
            <div class="controls">
              <select name="category">
                {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
              </select>
              {% if form.errors.category %}
                <p class="help-block">{{ form.errors.category }}</p>
              {% endif %}
            </div>
          </div>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="question">{% blocktrans %}Question{% endblocktrans %}</label>

            <div class="controls">
              <input id="question" name="question" type="text" class="input-large" value="{{ form.data.question }}">
              {% if form.errors.question %}
                <p class="help-block">{{ form.errors.question }}</p>
              {% endif %}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="first_name">{% blocktrans %}First Name{% endblocktrans %}</label>

            <div class="controls">
              <input id="first_name" name="first_name" type="text" class="input-large" value="{{ form.data.first_name }}">
              {% if form.errors.first_name %}
                <p class="help-block">{{ form.errors.first_name }}</p>
              {% endif %}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="last_name">{% blocktrans %}Last Name{% endblocktrans %}</label>

            <div class="controls">
              <input id="last_name" name="last_name" type="text" class="input-large" value="{{ form.data.last_name }}">
              {% if form.errors.last_name %}
                <p class="help-block">{{ form.errors.last_name }}</p>
              {% endif %}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">{% blocktrans %}Email{% endblocktrans %}</label>

            <div class="controls">
              <input id="email" name="email" type="text" class="input-large" value="{{ form.data.email }}">
              {% if form.errors.email %}
                <p class="help-block">{{ form.errors.email }}</p>
              {% endif %}
            </div>
          </div>
         <div class="control-group">
            <label class="control-label" for="zipcode">{% blocktrans %}Zip Code{% endblocktrans %}</label>

            <div class="controls">
              <input id="zipcode" name="zipcode" type="text" class="input-large" value="{{ form.data.zipcode }}">
              {% if form.errors.zipcode %}
                <p class="help-block">{{ form.errors.zipcode }}</p>
              {% endif %}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="headline">{% blocktrans %}Headline{% endblocktrans %}</label>

            <div class="controls">
              <input id="headline" name="headline" type="text" class="input-large" value="{{ form.data.headline }}">
              {% if form.errors.headline %}
                <p class="help-block">{{ form.errors.headline }}</p>
              {% endif %}
            </div>
          </div>

          <!-- Text input-->
          <div class="control-group">
            <label class="control-label" for="citation">{% blocktrans %}Citation{% endblocktrans %}</label>

            <div class="controls">
              <input id="citation" name="citation" type="text" class="input-large" value="{{ form.data.citation }}">
              {% if form.errors.idea %}
                <p class="help-block">{{ form.errors.citation }}</p>
              {% endif %}
            </div>
          </div>

          <!-- Button -->
          <div class="control-group">
            <label class="control-label" for="votebutton"></label>

            <div class="controls">
              <button id="submitbutton" name="submitbutton" class="btn btn-primary">
                {% blocktrans %}Submit Question{% endblocktrans %}</button>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
{% endblock %}