{% load i18n %}
<div id="sidebar_question_btn" onclick="$(this).hide(); $('.form-well').slideDown(); return false;">
  <a href="{% url 'questions' %}" class="btn btn-block btn-primary active" type="button">
    {% blocktrans %}Submit a New Question{% endblocktrans %}
  </a>
</div>
<div class="form-well">
  <div id="add_question" name="add_question">
    
    <hr class="mic_icon"/>
    <h2>{% blocktrans %}Submit a new Question{% endblocktrans %}</h2>

    <form action="{% url 'questions' %}" method="POST" class="form-inline">
      {% csrf_token %}
      <fieldset>
        <!-- Text input-->
        <div class="control-group">
          <label class="control-label category" for="category">
            {% blocktrans %}Choose a Category{% endblocktrans %}
          </label>

          <div class="controls">
            <select name="category">
              <option>--</option>
              {% for iter_category in SUBMISSION_CATEGORIES %}
              <option {% if category and iter_category.id == category.id %}selected{% endif %}
                      value="{{ iter_category.id }}">{{ iter_category.name }}</option>
              {% endfor %}
            </select>
            {% if form.errors.category %}
            <p class="help-block">{{ form.errors.category }}</p>
            {% endif %}
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <div class="controls">
            <textarea id="question" name="question" type="text" rows="4" class="input-large"
                      value="{{ form.data.question }}"
                      placeholder="{% blocktrans %}Enter your question here. If you have multiple&nbsp;questions, please submit each one separately."{% endblocktrans %}></textarea>
            {% if form.errors.question %}
            <p class="help-block">{{ form.errors.question }}</p>
            {% endif %}
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <div class="controls">
            <input id="citation" name="citation" type="text" class="input-large" value="{{ form.data.citation }}"
                   placeholder="{% blocktrans %}Citation{% endblocktrans %}">
            {% if form.errors.idea %}
            <p class="help-block">{{ form.errors.citation }}</p>
            {% endif %}
          </div>
        </div>
        
        <!-- Button -->
        <div class="control-group">
          <div class="controls">
            <button
               id="submitquestionbutton"
               name="submitquestionbutton"
               class=" btn btn-primary submitquestionbutton"
               data-add-question-url="{% url 'questions' %}">
              {% blocktrans %}Add Your Question{% endblocktrans %}</button>
          </div>
        </div>
        
      </fieldset>
    </form>
  </div>
</div>
